<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../../partials/header'); %></header>
    <div class="container">
      <h2>Category</h2>
    </div>
    <main>
      <a href="/admin/category/create" class="btn btn-success">Add</a>
      <ul>
        <% categories.forEach(function(category) { %>
        <li>
          <a href="/admin/category/<%= category._id %>">
            <strong><%= category.name %></strong></a
          >
          <form
            method="POST"
            action="/admin/category/<%= category.id %>?_method=DELETE"
          >
            <button type="submit" class="btn btn-danger">X</button>
          </form>
        </li>
        <% }); %>
      </ul>
    </main>

    <footer><%- include('../../partials/footer'); %></footer>
  </body>
</html>
