<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  
  <ul>
    <% users.forEach(function(user) { %>
      <li>firstName
        <strong><%= user.firstname %></strong>
        Email <%= user.email %>,
        lastName <%= user.lastname %>
      </li>
    <% }); %>
  </ul>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>