<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <% products.forEach(function(product) { %>
      <div class="card mb-3" style="width: 18rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text"><%= product.description %></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <% }); %>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
